@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth !important;
}

hr {
    border: none;
    height: 3px;
    background-color: black;
    width: 4%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 30px;
}

.frontContent {
    height: auto;
    min-height: 100vh;
}

.backImage {
    background-image: url('/img/bg2.png');
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -10;
}

.servicesBg {
    background-image: url('/img/pool.png');
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    z-index: -10;
}

.servicesBg h1 {
    letter-spacing: 2px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1.25;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 100px;
}

.navBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    flex-wrap: wrap;
    height: auto;
    padding-left: 16px;
    padding-right: 30px;
    padding-top: 27px;
    width: 75%;
    margin: 0 auto;
}


.side {
    margin-top: 10px;
    display: flex;
}

.side img {
    height: 78px;
}

.side a {
    text-decoration: none;
    margin-right: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.7px;
    font-weight: 700;
}

.links a {
    min-width: 97px;
    display: inline-block;
}

.side a:hover {
    text-decoration: underline;
}

.frontTexts {
    margin-top: 150px;
    text-align: center;
}

.frontTexts h3 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1px;
    color: white;
    font-weight: 300;
}

.frontTexts h1 {
    letter-spacing: 2px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1.25;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.frontTextsContainer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#bottomText {
    margin-bottom: 70px;
}

.frontTexts a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 18px 50px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    transition: all 0.3s ease;
}

.frontTexts a:hover {
    background-color: white;
    color: black;
}

#services {
    transition: all 0.3s ease;
    background-color: #e9e7e135;
}

#services h1 {
    letter-spacing: 2px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1.25;
    font-size: 43px;
    text-align: center;
    padding-top: 30px;
}

#about {
    transition: all 0.3s ease;
}

#about h1 {
    letter-spacing: 2px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1.25;
    font-size: 43px;
    text-align: center;
}

.imageThing img {
    height: 200px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}

.imageThing p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25.6px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.servicesContainer {
    display: flex;
    justify-content: space-around;
    height: auto;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 80%;
    margin: 0 auto;
}

.serviceBox {
    height: 300px;
    width: 350px;
    background-color: rgba(248, 248, 248, 0.453);
    margin: 50px 50px;
    /* border: 1px solid rgba(0, 0, 0, 0.102); */
    padding: 20px 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.095);
    transition: all 0.3s ease;
    position: relative;
}

.serviceBox:hover {
    background-color: rgba(230, 229, 229, 0.315);
    transform: scale(1.03);
}

.serviceBox a {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    color: black;
    font-weight: 600;
}

.serviceBox h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.footerContainer {
    width: 100%;
    height: auto;
    background-color: #e9e7e1;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer img {
    height: 80px;
    display: flex;
    margin: 0 auto;
}

footer p {
    text-align: center;
}

.sectionBg {
    width: 100%;
    height: auto;
    background-image: url('/img/topView.jpeg');
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.doubleSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 80px;
    flex-wrap: wrap;
}

.sec {
    height: 300px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.967);
    margin-top: 50px;
    text-align: center;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.392);
}

.sec h1 {
    letter-spacing: 2px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1.25;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

.sec p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25.6px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sec a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 13px 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    transition: all 0.3s ease;
}

.sec a:hover {
    color: white;
    border: 2px solid black;
    background-color: black;
}


@media screen and (max-width: 790px) {
    .navBarContainer {
        justify-content: center;
    }

    .servicesBg {
        height: 50vh;
    }

    .servicesBg h1 {
        font-size: 40px;
        margin-top: 50px;
    }

    .navBarContainer {
        width: 100%;
    }

    hr {
        width: 10%;
    }

    #services h1 {
        font-size: 32px;
    }

    #about h1 {
        font-size: 32px;
    }

    .side a {
        font-weight: 400;
        text-align: center;
        margin-right: 0px;
        margin-left: 0px;
        margin: 0 auto;
    }

    .lineBreak {
        flex-basis: 100%;
        height: 0;
    }

    .frontTexts {
        margin-top: 70px;
    }

    .frontTexts a {
        padding: 20px 50px;
    }

    .imageThing img {
        height: 120px;
        display: flex;
        margin: 0 auto;
    }

    .servicesContainer {
        width: 90%;
    }

    .sec {
        width: 90%;
    }

}

@media screen and (max-width: 1300px) {
    .frontTexts h1 {
        font-size: 40px;
    }

    .navBarContainer {
        justify-content: center;
    }

    .frontTexts h1 {
        font-size: 50px;
    }


}

@media screen and (max-width: 350px) {
    .links a {
        max-width: 80px;
        display: block;
        margin-top: 10px;
    }


    .frontTexts {
        margin-top: 30px;
    }

}